pipeline/NBADataIngestion.json
{
	"name": "NBADataIngestion",
	"properties": {
		"activities": [
			{
				"name": "SetFlagName",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "flagName",
					"value": {
						"value": "@concat(formatDateTime(utcNow(), 'yyyyMMdd'), '.flg')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CheckFlag",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "SetFlagName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('GetFlag').output.exists",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetFlag",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetFlag",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('GetFlag').output.exists",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Stop",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 10
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "FromSTGToRAW",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DeleteFlag",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "MVBlobStorageDataset",
						"type": "DatasetReference",
						"parameters": {
							"container": "stg"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "MVBlobStorageDataset",
						"type": "DatasetReference",
						"parameters": {
							"container": "raw"
						}
					}
				]
			},
			{
				"name": "DeleteFlag",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "CheckFlag",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": false,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"movePlayers": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"variables": {
			"flagName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-05-29T16:22:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}